<mat-toolbar class="example-header" color="accent">
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <span class="spacer"></span>
    <span class="material-icons" style="margin-right: 7px;">
        account_circle
    </span>
    <div style="text-align: right; padding-right: 10px;">
        <small style="display: block;">Admin RS. PASTI SEMBUH</small>
    </div>
</mat-toolbar>
<mat-tab-group mat-align-tabs="start" color="primary">
    <mat-tab label="Customer Register" color="primary">
        <h2 style="margin: 10px;">Visitor Biodata</h2>
        <mat-grid-list cols="2">
            <mat-grid-tile [colspan]="1">
                <form class="example-form">
                    <mat-form-field appearance="fill" class="example-full-width" color="accent">
                        <mat-label style="color: black;">ID</mat-label>
                        <mat-select>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill" color="accent">
                        <mat-label style="color: black;">Visitor name</mat-label>
                        <input matInput maxlength="256" placeholder="Customer Name">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill" color="accent">
                        <mat-label style="color: black;">NIK</mat-label>
                        <input matInput maxlength="256" placeholder="Pic">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill" color="accent">
                        <mat-label style="color: black;">City</mat-label>
                        <input matInput maxlength="256" placeholder="City">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill" color="accent">
                        <mat-label style="color: black;">Remark</mat-label>
                        <input matInput maxlength="256" placeholder="Remark">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill" color="accent">
                        <mat-label style="color: black;">Age</mat-label>
                        <input matInput maxlength="256" placeholder="Age">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill" color="accent">
                        <mat-label style="color: black;">Queue number</mat-label>
                        <input matInput maxlength="256" placeholder="Queue number">
                    </mat-form-field>
                </form>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1">
                <form class="example-form" style="margin-top: 27px;">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label style="color: black;">Address</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label style="color: black;">Address Ke 2</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill" color="accent">
                        <mat-label style="color: black;">Contact no</mat-label>
                        <input matInput maxlength="256" placeholder="Contact no">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill" color="accent">
                        <mat-label style="color: black;">Region</mat-label>
                        <input matInput maxlength="256" placeholder="Region">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill" color="accent">
                        <mat-label style="color: black;">Province</mat-label>
                        <input matInput maxlength="256" placeholder="Province">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill" color="accent">
                        <mat-label style="color: black;">Kuota</mat-label>
                        <input matInput maxlength="256" placeholder="Kuota" value="0" type="number">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill" color="accent">
                        <mat-label style="color: black;">Prefered Expedition</mat-label>
                        <input matInput maxlength="256" placeholder="Prefered Expedition">
                    </mat-form-field>
                </form>
            </mat-grid-tile>
        </mat-grid-list>
        <button mat-raised-button color="primary" style="margin-left: 38px;margin-bottom: 15px;">Tambah</button>
    </mat-tab>
    <mat-tab label="Customer List">Content 2</mat-tab>
    <mat-tab label="Customer Setting">Content 3</mat-tab>
    <mat-tab label="Customer Register Import">Content 3</mat-tab>
</mat-tab-group>