.example-spacer {
    flex: 1 1 auto;
  }
  .example-card {
    background-color: rgb(75, 74, 74);
    max-width: 200px;
    margin-right: 10px;
  }
  .card-two{
    width: 2000px;
    max-width: 600px;
  }
  .mat-tab-group {
    margin-bottom: 48px;
    color: black;
  }
  ::ng-deep .mat-tab-label-active{
    background-color: rgb(88, 88, 88) !important;
 }
  ::ng-deep .mat-tab-label{
    background-color: rgb(134, 133, 133) !important;
 }
 .example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
 
}
.example-full-width {
  width: 100%;
  color: black;
  margin-bottom: 15px;
  background-color: rgb(226, 224, 224);
  border-radius: 5px;
  margin-left: -50px;
  
}