<mat-toolbar class="example-header" color="accent">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <span class="spacer"></span>
    <span class="material-icons" style="margin-right: 7px;">
        account_circle
    </span>
    <div style="text-align: right; padding-right: 10px;">
        <small style="display: block;">Admin RS.PASTI SEMBUH</small>
    </div>
</mat-toolbar>

<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened autosize class="example-sidenav" [fixedInViewport]="true"
        [fixedTopGap]="65" [fixedBottomGap]="0">

        <mat-card class="example-card" color="accent">
            <section class="example-section">
                <h4>SEARCH</h4>
                <p>
                    <mat-checkbox formControlName="created">Created Time Mode</mat-checkbox>
                </p>
                <p>
                    <mat-checkbox formControlName="transaction">Transaction Time Mode</mat-checkbox>
                </p>
            </section>
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Voucher ID</mat-label>
                    <input type="email" matInput placeholder="Voucher ID">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Remark</mat-label>
                    <input type="email" matInput placeholder="Remark">
                </mat-form-field>
            </form>
            <button mat-raised-button color="primary" slot="end">Search</button>
        </mat-card>
    </mat-sidenav>

    <mat-sidenav-content style="padding: 20px;">
        <mat-card class="card-two">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="created">
                    <th mat-header-cell *matHeaderCellDef> Created Time </th>
                    <td mat-cell *matCellDef="let element"> {{element.created}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="order">
                    <th mat-header-cell *matHeaderCellDef> Nomor antrian </th>
                    <td mat-cell *matCellDef="let element"> {{element.order}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>